<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="images/w98_doctor_watson.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <a><img src="/images/logo.gif" class="logo"></a>
            <nav>
                <ul>
                    <li><a onclick="document.getElementById('player').play()"  style="cursor: pointer;"><img src="/images/w95_41.ico" class="bopper3"></button></a> </li>
                    <li><a href="/stock"><img src="/images/w2k_1.ico" class="bopper0"></a></li>
                    <li><a href="/"><img src="/images/w95_14.ico" class="bopper1"></a></li>
                    <li><a href="restock"><img src="/images/w98_signature_excl.ico" class="bopper2"></a></li>
                    <li><a href="register"><img src="/images/w98_address_book_user.ico" class="bopper3"></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <main>
        <div class="content-bg">
            <div class="content">
                <br>
                <br>

                {{{body}}}


                <br>
                <br>
                <form id="add-item-form" class="box2" style="float: right;">
                    <div class="title">
                        <img src="/images/w98_help_book_small.ico" width="18" height="18" class="title" />
                        <p class="title">© 1998 dirk productions</p>
                        <button>X</button>
                        <button>?</button>
                    </div>
                    <div class="body">
                        All rights reserved.
                    </div>

                    <audio id="player">
                        <source src="/audio/jam.mp3" />
                    </audio>
            </div>
        </div>
    </main>
</body>

</html>