<div class="box">
    <div class="title">
        <img src="images/w98_help_book_small.ico" width="18" height="18" class="title" />
        <p class="title">Our CDs</p>
        <button>X</button>
        <button>?</button>
    </div>
    <div class="body">
        <div class="franchise-films">
            <div id="film-row" class="film-row">
            </div>
        </div>
    </div>
</div>
<br>

<div class="box">
    <div class="title">
        <img src="images/w98_help_book_small.ico" width="18" height="18" class="title" />
        <p class="title">Our DVDs</p>
        <button>X</button>
        <button>?</button>
    </div>
    <div class="body">
        <div class="franchise-films">
            <div id="film-row2" class="film-row">
            </div>
        </div>
    </div>
</div>
<br>

<div class="box">
    <div class="title">
        <img src="images/w98_help_book_small.ico" width="18" height="18" class="title" />
        <p class="title">Our Cassettes</p>
        <button>X</button>
        <button>?</button>
    </div>
    <div class="body">
        <div class="franchise-films">
            <div id="film-row3" class="film-row">
            </div>
        </div>
    </div>
</div>

<script src="stock.js"></script>